---
layout: default
---

<!-- ========== About ========== -->
<div class="docs-section" id="about">
  <h5>About</h5>
  Hello! I am a Master’s student in <b>Transportation and Highway Engineering</b> at <b><a href="https://www.lsu.edu/">Louisiana State University (LSU)</a></b>, where I serve as a Graduate Research Assistant on an LTRC-funded project focused on evaluating the noise and vibration levels of various <b>longitudinal rumble strip</b> designs.

  <br><br>
  My research involves field testing, experimental design, and acoustic/vibration analysis based on AASHTO, SAE, and ISO standards. I was awarded <b>2nd place</b> at the 13th LSU CEE Graduate Student Annual Research Conference (GSRC) for my work.

  <br><br>
  I earned my B.Sc. in Civil Engineering from <b><a href="https://www.just.edu.jo/">Jordan University of Science and Technology (JUST)</a></b>, an <b>ABET-accredited institution</b>, where I ranked <b>2nd out of 126 students in my batch</b>. My undergraduate capstone project applied <b>machine learning</b> to predict crash severity and conduct traffic accident hotspot analysis.

  <br><br>
  I also completed a <b>paid summer internship in Austria</b>, working on laser scanning, GPS surveying, and developing 2D/3D mapping plans using Point Clouds.

  <br><br>
  Outside of academics, I serve as the <b>President of the ITE LSU Student Chapter</b>.
</div>

<!-- ========== News ========== -->
<div class="docs-section" id="news">
  <h5>News</h5>

  <div class="row no-gutters">
    <div class="col-12 text-md-left">
      <b style="color:#fa8072;">April 2025</b> – Published paper titled <i>"Spatial–Temporal Analysis and Severity Prediction of Traffic Accidents"</i> in <b>Engineered Science</b> (Q1 journal). Accepted: Mar 17, 2025. Published online: Apr 24, 2025.
    </div>
    <div class="col-12 text-md-left">
      <b style="color:#fa8072;">March 2025</b> – <b>2nd Place</b>, 13th Annual CEE Graduate Student Research Conference, issued by the Department of Civil and Environmental Engineering, LSU.
    </div>
    <div class="col-12 text-md-left">
      <b style="color:#fa8072;">February 2025</b> – <b>Gulf Regional ITS (GRITS) Scholarship Award</b> for the 2024 school year, issued by GRITS in association with LSU.
    </div>
    <div class="col-12 text-md-left">
      <b style="color:#fa8072;">December 2024</b> – <b>Bentley Travel Grant</b> recipient for TRB 2025, sponsored by Bentley and administered by LTRC.
    </div>
    <div class="col-12 text-md-left">
      <b style="color:#fa8072;">September 2023</b> – <b>2nd Rank out of 126 students</b> in overall undergraduate batch at Jordan University of Science and Technology (JUST).
    </div>
    <div class="col-12 text-md-left">
      <b style="color:#fa8072;">July 2023</b> – <b>Engineering Deanship Honor Roll</b>, awarded for eight consecutive semesters at JUST.
    </div>
    <div class="col-12 text-md-left">
      <b style="color:#fa8072;">February 2022</b> – <b>1st Rank</b> in Civil Engineering Department at JUST for Fall 2021/2022 semester.
    </div>
  </div>
</div>

<!-- ========== Education ========== -->
<div class="docs-section" id="education">
  <h5>Education</h5>
  <div class="paper">
    <p class="title"><b>Louisiana State University (LSU)<b style="float:right;">May 2024 – Present</b></b></p>
    <p>Master’s in Transportation and Highway Engineering (Minor: Applied Statistics)</p>
  </div>
  <div class="paper">
    <p class="title"><b>Jordan University of Science and Technology (JUST)<b style="float:right;">Sep. 2018 – Sep. 2023</b></b></p>
    <p>B.Sc. in Civil Engineering (ABET-accredited). Ranked 2nd out of 126 students in batch.</p>
  </div>
</div>

<!-- ========== Publications ========== -->
<div class="docs-section" id="publications">
  <h5>Publications</h5>
  <div class="paper">
    <p><b>Spatial–temporal analysis and severity prediction of traffic accidents</b></p>
    <p>Al-Omari, A. A., Alsaleh, M., & Shatnawi, N. (2025). <i>Engineered Science.</i></p>
    <a class="button" href="https://doi.org/10.30919/es1472" target="_blank">Paper</a>
  </div>
</div>

<!-- ========== Vitæ ========== -->
<div class="docs-section" id="vitae">
  <h5>Vitæ</h5>
  <p>Full CV available in <a href="{{ '/assets/cv/Mohamed_CV.pdf' | prepend: site.baseurl }}" target="_blank">PDF</a> format.</p>

  <!-- Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b><br />{{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
