---
layout: default
---

<!-- ========== About ========== -->
<div class="docs-section" id="about">
  <h5>About</h5>
  Hello! I am a Master’s student in <b>Transportation and Highway Engineering</b> at <b><a href="https://www.lsu.edu/">Louisiana State University (LSU)</a></b>, where I serve as a Graduate Research Assistant on an LTRC-funded project focused on evaluating the noise and vibration impact of <b>longitudinal rumble strips</b>.

  <br><br>
  My research involves field testing, experimental design, and acoustic/vibration analysis based on AASHTO and SAE standards. I was awarded <b>2nd place</b> at LSU’s CEE Graduate Student Research Conference (GSRC) for my work.

  <br><br>
  I earned my B.Sc. in Civil Engineering from <b><a href="https://www.just.edu.jo/">Jordan University of Science and Technology (JUST)</a></b>, where I ranked <b>2nd out of 126 students</b>. My undergraduate capstone project applied <b>machine learning</b> to predict crash severity and conduct traffic accident hotspot analysis.

  <br><br>
  I also completed a <b>paid summer internship in Austria</b>, working on laser scanning, GPS surveying, and developing 2D/3D mapping plans.

  <br><br>
  Outside of academics, I serve as the <b>President of the ITE LSU Student Chapter</b>.
</div>

<!-- ========== News ========== -->
<div class="docs-section">
  <h5>News</h5>

  <div class="row no-gutters">
    <div class="col-12 text-md-left">
      <b style="color:#fa8072;">May 2025</b> – Presented four posters at TRB 2025 in Washington, D.C.
    </div>
    <div class="col-12 text-md-left">
      <b style="color:#fa8072;">April 2025</b> – Won 2nd place at LSU’s CEE Graduate Student Research Conference.
    </div>
    <div class="col-12 text-md-left">
      <b style="color:#fa8072;">March 2025</b> – Selected as <b>President</b> of the LSU ITE Student Chapter.
    </div>
    <div class="col-12 text-md-left">
      <b style="color:#fa8072;">October 2024</b> – Received the GRITS Scholarship Award.
    </div>
    <div class="col-12 text-md-left">
      <b style="color:#fa8072;">Summer 2022</b> – Completed civil engineering internship at DI WOLFGANG HÖPPL in Austria.
    </div>
  </div>
</div>

<!-- ========== Education ========== -->
<div class="docs-section" id="education">
  <h5>Education</h5>
  <div class="paper">
    <p class="title"><b>Louisiana State University (LSU)<b style="float:right;">May 2024 – Present</b></b></p>
    <p>Master’s in Transportation and Highway Engineering (Minor: Applied Statistics)</p>
  </div>
  <div class="paper">
    <p class="title"><b>Jordan University of Science and Technology (JUST)<b style="float:right;">Sep. 2018 – Aug. 2023</b></b></p>
    <p>B.Sc. in Civil Engineering (Ranked 2nd in class)</p>
  </div>
</div>

<!-- ========== Publications ========== -->
<div class="docs-section" id="publications">
  <h5>Publications</h5>
  <div class="paper">
    <p><b>Spatial–temporal analysis and severity prediction of traffic accidents</b></p>
    <p>Al-Omari, A. A., Alsaleh, M., & Shatnawi, N. (2025). <i>Engineered Science.</i></p>
    <a class="button" href="https://doi.org/10.30919/es1472" target="_blank">Paper</a>
  </div>
</div>

<!-- ========== Resume ========== -->
<div class="docs-section" id="resume">
  <h5>Vitæ</h5>
  <p>Full CV available in <a href="{{ '/assets/cv/CV.pdf' | prepend: site.baseurl }}" target="_blank">PDF</a> format.</p>

  <!-- Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b><br />{{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
